body {
    background-color: rgba(2, 82, 173, 0.801);
    padding: 20px;
    justify-content: center;
    display: flex;
}

h1 {
    color: white;
}


    canvas {
  border: 4px solid rgb(75, 75, 75);
  cursor: crosshair;
  background-color: white;
  margin: auto;
  width: 100%;
  height: 800px;
  max-width: 1500px;
  aspect-ratio: 7 / 5;
    }

#botões {
    flex-direction: column !important;
    margin: 20px;
    display: flex;
}

.container {
    flex-direction: column;
    display: flex;
}

.Canvas2 {
    flex-direction: row;
    display: flex;
}

#botões button {
    margin-bottom: 25px;
    width: 85px;
    height: 85px;
    font-size: 50px;
    border-radius: 35px;
}

#botões2 button {
    margin-top: 15px;
    margin: 20px;
    margin-bottom: 170px;
    width: 90px;
    height: 90px;
    font-size: 50px;
    border-radius: 35px;
    background-color: rgba(255, 30, 0, 0.356);
}

#Cima {
 display: flex;
 flex-direction: row;
 justify-content: center;
 
}

#Cima input {
 height: 60px;
 width: 100px;
 margin: 10px;
}

#Cima label {
    font-size: 45px;
    color: white;
}

.form-control-color {
    height: 100px;
    width: 100px;
}
